@charset "utf-8";
/* CSS Document */
header{
	height:80px;
	position:fixed;
	top:0;
	width:100%;
	z-index:1;
	background-color:#0174DF;
}
body{
	background-color:#e6e6e6;
	font-family:Ariel;
	}
header h1{
	color:#0b0b3b;
	display:inline-block;
	font-family:Baskerville;
	margin-top:25px;
	margin-left:6%;
	font-size:36px

}
h3{
	font-family:Baskerville;
	font-size:25px;
	color:#0b0b3b;
}
h4{
	font-family:Ariel;
	font-size:18px;
	color:#0b0b3b;
}
h5{
	font-family:Ariel;
	font-size:15px;
	color:#0b0b3b;
}
footer p{
	font-size:18px;
}
footer{
 	background-color:#bab3b2;
	font-size:25px;
 	text-align: center;

}
menu
{
	float:right;
	margin-right:5%;
	margin-top:30px;
	font-family:Ariel;
	font-size:20px;
}
menu li
{
 	float:left;
}
menu ul 
{
	list-style-type:none;
}
menu li a
{
	text-decoration:none;
	color:#0b0b3b;
	padding:25px;
	font-size:1.2em;
}

.nazivi
{
	text-align:center;
	font-size:1.5em;
	color:#0b0b3b;
}
.nazivip
{
	text-align:center;
	font-size:1.8em;
	color:#0b0b3b;
}
.textp
{
	font-size:1.5em;
	color:#0b0b3b;
}
p
{
	font-size:25px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}


span
{
	color:blue;
}